body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

#root {
  align-content: center;
  margin-top: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

.figures-wrapper {
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, select {
  padding: 5px;
  font-size: 16px;
}

p {
  margin: 5px 0;
}

.formula {
  display: flex;
  flex-direction: column;
}

.formula>span:nth-child(1) {
  margin-bottom: 8px;
}
